@model IEnumerable<Dtos.Models.CategoryListingDto>
@{
    ViewData["Title"] = "Categories List";
}

<style>
    .text-right {
        text-align: right !important;
    }
</style>

<div class="row">
    <div class="col-6">
        <h1 class="text-primary">Categories List</h1>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-primary" asp-action="Create"><i class="fas fa-plus"></i> &nbsp; Create New Category</a>
    </div>
</div>
<br />
<div class="p-4 border rounded">
    <table class="table table-stiped table-bordered" style="width:100%;" id="tblCategory">
        <thead class="thead-dark">
            <tr class="table-info">
                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryDescription)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="width:40%;">
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td style="width:40%;">
                        @Html.DisplayFor(modelItem => item.CategoryDescription)
                    </td>
                    <td style="width:20%;">
                        @*@Html.ActionLink("Edit", "Edit", new {  id=item.CategoryId })
                            @Html.ActionLink("Delete", "Delete", new {  id=item.CategoryId  })*@

                        <a href="/Admin/Category/Upsert/@item.CategoryId" class="btn  btn-success text-white" style="cursor:pointer;">
                            <i class="fas fa-edit"></i> &nbsp; Edit
                        </a>
                        <a class="btn btn-danger text-white" style="cursor:pointer;" onclick=Delete("/Admin/Category/Delete/@item.CategoryId")>
                            <i class="fas fa-trash-alt"></i> &nbsp; Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

@section scripts {

<script type="text/javascript">
    $(document).ready(function(){
        $("#tblCategory").DataTable();
    });

    function Delete(url) {
        swal({
            title:"Are your sure you want to delete?",
            text:"You will not be able to restore the data!",
            icon:"warning",
            buttons:true,
            dangerousMode:true
            }).then((willDelete) => {
               if (willDelete) {
                    $.ajax({
                        type: "DELETE",
                        url: url,
                        success: function (data) {
                            if (data.success) {
                                window.location.href = '/Admin/Category/Index' ;
                                //toastr.success(data.message);
                                //dataTable.ajax.reload();
                            }
                            else {

                            }
                        }
                    });
                }
        });
    }

</script>

}